:root {
    --black-color: #1d1d1b;
    --white-color: #fff;
    --yellow-color: #ffed00;
    --gray-color: #c0c0c0;
}

body {
    height: 100vh;
    margin: 0;
    /* background: linear-gradient(to top, #1d1d1b 60%, #1d1d1b 40%); */
    background-color: var(--black-color);
    overflow: hidden;
}

@font-face {
    font-family: 'Aeonik-Bold';
    src: url('../fonts/fonnts.com-Aeonik_Bold.ttf');
}

@font-face {
    font-family: 'Aeonik-Regular';
    src: url('../fonts/fonnts.com-Aeonik_Regular.ttf');
}

label {
    position: absolute;
    color: var(--gray-color);
    font-size: 14px;
    margin-left: 18%;
    margin-top: 2px;
}

label a {
    color: #2e71ed;
}

#sign-button {
    padding: 10px;
    font-family: 'Aeonik-Regular';
    border-radius: 2px;
    margin-left: 50%;
    transform: translateX(-28px);
    border: 1px solid var(--white-color);
    cursor: pointer;
}

#sign-button:active {
    background-color: var(--black-color);
    color: var(--white-color);
}

input {
    display: grid;
    border: hidden;
    border-bottom: 1px solid var(--gray-color);
    color: var(--white-color);
    outline: none;
    margin-left: 50%;
    transform: translateX(-84.5px);
    background: transparent;
    margin-bottom: 2em;
    padding-bottom: 5px;
    transition: 2s;
}

.teste {
  position: absolute;
  top: 0;
  margin-left: 10.8%;
  margin-top: 5.5em;
  pointer-events: none;
}

.teste ul {
  list-style: none;
  list-style-type: none;
}

.teste ul li {
  width: 0px;
  height: 1px;
  background-color: #2e71ed;
  margin-bottom: 48px;
  transition: 2s;

}

input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: var(--black-color);
    border: 1px solid var(--gray-color);
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
}

.checkbox-container {
    display: flex;
}

.container {
    position: absolute;
    width: 55em;
    height: 25em;
    border-radius: 2px;
    background-color: var(--black-color);
    /* background: linear-gradient(to left, #fff 50%, #1d1d1b 50%); */
    border: 1px solid var(--white-color);
    margin-left: 50%;
    margin-top: 5em;
    transform: translateX(-440px);
    color: var(--white-color);
}

.sign-up {
    width: 50%;
    height: 100%;
}

#sign-up-text {
    width: 100px;
    height: 30px;
    font-size: 20pt;
    /* margin-left: 35%; */
    margin-left: 50%;
    transform: translateX(-50px);
    /* font-family: 'Aeonik-Bold'; */
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1em;
}

.card {
  position: absolute;
  width: 440px;
  height: 400px;
  border-radius: 2px;
  cursor: pointer;
  z-index: 2;
  background-color: var(--white-color);
}

.gsi-material-button {
    display: flex;
    /* margin-left: 25%; */
    margin-left: 50%;
    transform: translateX(-83.5px);
    background-color: #f2f2f2;
    background-image: none;
    border: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    margin-top: 1em;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
  }
  
  .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
  }
  
  .gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }
  
  .gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    right: 0;
    top: 0;
  }
  
  .gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
  }
  
  .gsi-material-button:disabled .gsi-material-button-state {
    background-color: #1f1f1f1f;
  }
  
  .gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
  }
  
  .gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
  }
  
  .gsi-material-button:not(:disabled):active .gsi-material-button-state, 
  .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #001d35;
    opacity: 12%;
  }
  
  .gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }
  
  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #001d35;
    opacity: 8%;
  }
  