<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/crud" method="post">
        <button type="submit" name="formType" value="loggout">Logout</button>
    </form>
    <form action="/crud" method="post">
        <input type="text" id="name3" name="name3" placeholder="Name">
        <input type="text" id="email3" name="email3" placeholder="Email">
        <input type="text" id="value" name="value" placeholder="Value">
        <button type="submit" id="add-button" name="formType" value="add">Add</button>
    </form>
      <% List.forEach(function(e) { %>
        <p><%= JSON.stringify(e, null).replace(/{|}|name|email|value|"|:|,/g, ' ') %></p>
    <% }); %>
</body>
</html>
