<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://accounts.google.com/gsi/client?hl=en" async></script>
    <title>Crud</title>
</head>
<body>
    <div class="container">
      <div class="card"></div>
        <div class="sign-up">
            <p id="sign-up-text">Sign Up</p>
            <form action="/" method="post">
                <input type="text" id="username" name="username" placeholder="Username">
                <input type="text" id="email" name="email" placeholder="Email">
                <input type="password" id="pwd" name="pwd" placeholder="Password">
                <div class="checkbox-container">
                    <input type="checkbox" id="checkbox" name="checkbox">
                    <label for="check">I agree to the <a href="#">terms and conditions.</a></label>
                </div>
                <button type="submit" id="sign-button">Sign Up</button>
                  <div class="teste">
                    <ul>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </div>
            </form>
        </div>
<div class="sign-in">
          <p id="sign-up-text">Sign In</p>
          <form action="/" method="post">
              <!-- <input type="text" id="username" name="username" placeholder="Username"> -->
              <input type="text" id="email" name="email" placeholder="Email">
              <input type="password" id="pwd" name="pwd" placeholder="Password">
              <div class="checkbox-container">
                  <input type="checkbox" id="checkbox" name="checkbox">
                  <label for="check">I agree to the <a href="#">terms and conditions.</a></label>
              </div>
              <button type="submit" id="sign-button">Sign In</button>
                <div class="line">
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
          </form>
      </div>
    </div>
</body>
<script src="javascript/login.js"></script>
</html>
